* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
body  {
	background-color: #F3F3F3;
	font-family: 'Open Sans', sans-serif;
}
.container {
	margin: auto;
    min-width: 900px;
	max-width: 1100px;
	padding: 0;
    display: flex;
    flex-direction: column;
}

header {
display: flex;
background-image: url(../img/apples.jpg);
background-repeat: no-repeat;
background-size:110% 100%;
background-position: center;
background-color: #c7b39b;
min-height: 450px;
min-width: 900px;
flex-direction: column;
 }
header .logonav>a{
	letter-spacing: 4px;
}
.logonav {
	padding: 20px;
	display: flex;
	min-width: 900px;
	justify-content: space-between;	
}
.logonav>a, .center{
	color: #FFF;
}
.logonav>nav a:hover { 
	   font-weight: bold; 
}
.logonav>nav a:active { 
    color: #A4A4A4; 
   }
.logonav>nav  a:visited {	
color:#B7C8D9;
}
nav {
display: flex;
 align-items: baseline;
}
nav a {
	margin: 10px;
	color: #FFF;
}
.center {
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h2 {
padding-top: 120px; 
letter-spacing: 10px;
font-size: 35px;
font-weight:100;
}
h2 span {
	font-size: 170%;
}
header h6 {
font-weight:100;
font-size: 12px;
padding-top: 5px; 
}
.button {
font-size: 14px;	
padding: 9px 50px;
border: 2px solid #FFF;
margin-top: 100px; 
background-color: rgba(48, 48, 48, .4);
}

.button:hover {
padding: 11px 55px;
cursor: pointer;
}
a {
    text-decoration: none;
}

 .additional {
	padding: 5px;
	display: flex;
	flex-flow: wrap row;
	justify-content:space-between; 
	min-width: 900px;
	height: 200px;
	align-items: center;
	background-color: #FFF;
}
.additional p {
	padding: 30px;
	width: 50%;
	font-size: 120%;
}
.additional p + p{
	font-size: 13px;
	font-weight: 100;
}
 .vacancies, .down{
	background-color: #F3F3F3;
	padding: 10px;
	margin: 0;
}
.vacancies>h3 {
	font-weight: normal;
	padding-top: 70px;
	padding-bottom: 50px;
	text-align: center;
}
article {
	display: flex;
	width: 100%;
	justify-content:space-between;
	padding: 10px;
	align-items: center;
}
article div.pic img {
width: 100%;
}
article div.pic {
width: 67%;
margin: 10px;
position: relative;
}
div.like {
position: absolute;
top: 20px;
right: 20px;
font-size: 13px;	
padding: 4px 8px;
border: 2px solid #FFF;
color:#FFF;
background-color: rgba(48, 48, 48, .5);
z-index: 3
}
article>div>h3 {
position: absolute;
bottom: 10px;
left: 10px;
font-size: 13px;	
padding: 5px 10px;
border: none;
color:#FFF;
z-index: 3;
}
article h3>span {
	font-weight: 100;
}
 article div.pic::before {
    content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-image: linear-gradient(to bottom right,transparent,#343638);
	opacity: .5; 
	z-index: 1;
   }
article>p {
	display: block;
	width: 33%;
	text-align: center;
	font-size: 13px;
}
 .down {
	width: 100%;
	height: 180px;
	background-color: #F3F3F3;
	margin: 0;
	padding: 0;
	
}
form {
	width: 95%;
	display: flex;
	background-color: #FFF;
	margin: auto;
	margin-top:0;
	padding: 30px 15px;
	justify-content: space-between;
}
form span {
	font-weight: bold;
	margin: 0;
}
form label {
	margin: 0;
	min-width: 250px;
	padding: 12px 0px;
	font-size: 19px;
}
form input[type="email"] {
	font-size: 12px;
	height: 50px;
	color:#343638;
	border: #343638 1px solid;
	background-color: #E8E8E8;
	padding: 15px;
	min-width: 500px;
	margin-right: 0;
	margin-left: 0;
}
form input[type="submit"] {
	background-color: #343638;
	color:#FFF;
	padding: 10px 0px;
	border: none;
	min-width: 80px;
	margin-left:0;
}
form div {
	display: flex;
}
 .about {
	background-color: #FFF;
	margin: 60px 13px;
	display: flex;
	justify-content: space-between;
}
.about div {
	width: 24%;
	padding: 10px;
}
.about div:nth-child(3) {
padding-right: 50px;
}
.about div:last-child {
	width: 27%;
	display: flex;
	flex-direction: column;
	padding-left: 0px;
	padding-right: 0px;
}
.about form {
	margin: 0;
	padding: 0;
	display: flex;
justify-content: flex-start;
}
.about form div {
display: flex;
flex-wrap: wrap;
height: 55px;
min-width: 90%;
	margin: 0;
}
.about form input[type="email"] {
	padding: 5px;
	min-width: 65%;
}
.about form input[type="submit"] {
	min-width: 35%;
}
h6 {
	margin: 15px 0;
font-size: 16px;
	font-weight: bold;}
.about p {
font-size: 13px;
color: #E8E8E8;
}
 .about div:nth-child(2) p {
font-style: italic;
}
 .about p + p {
color: #F3F3F3;
font-style: normal;
	margin-top: 4px;
}
 footer {
	background-color: #FFF;
	padding-top: 15px;
	display: flex;
	justify-content:space-between;
	border-top: 1px #9E9E9E solid;
}
footer>ul {
list-style: none;
display: flex;
align-items: baseline;
}
footer>ul li {
	margin: 10px;
	margin: 10px;
}

footer>ul li a {
	color: #E8E8E8;
}

	footer>ul li a:hover {
		
font-weight:bold;
}
	footer>ul li a:visited {	
color:#B7C8D9;
}
footer p {
	margin: 10px 20px;
	color: #A4A4A4;
	display: flex;
}
 @font-face {
    font-family: "Open Sans";
src: url("http://fonts.googleapis.com/css?family=Open+Sans") format("truetype"); 
font-weight: normal; 
} 
